<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" />


<button (click)="confirmCrop()">Conferma Ritaglio</button>
<button (click)="saveCroppedImage()">Salva Immagine Ritagliata</button>
<button (click)="log()">log</button>

<div *ngFor="let url of modifiche">
  <img [src]="url" alt="Immagine ritagliata" />
</div>
